apiVersion: v1
kind: PersistentVolume
metadata:
  name: swift-data-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/swift-chat
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: swift-data-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: swift-files-pv
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/swift-files
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: swift-files-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
